
.cartaoApresentacao{
    overflow-y:hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 80vh;
    margin-left: 0px;
    

    /*ADD AGORA*/
    gap: 80px;
   
}

.box{
    position: relative;
    border-radius: 1.5em;
    transform-style: preserve-3d;
}

.box .card{
    position: relative;
    background: rgba(255,255,255,0.1) ;
    width:18em;
    min-height: 24em;

    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);

    border-radius: 1.5em;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
    transform-style: preserve-3d;
}

/* .status{
    
    background: rgba(255,255,255,0.1) ;
    width:18em;
    min-height: 24em;

    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);

    border-radius: 1.5em;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
    transform-style: preserve-3d;
} */

.elements{
    position: absolute;
    top: 50px;
    left: -30px;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.1);

    transform: translateZ(80px);

    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
}

.elements.bg::before{
    content: '';
    position: absolute;
    inset: 0;
    background: url(./img/link.png);
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;

}

.box:hover .elements.bg::before{
    opacity: 1;
    
}







/*simples nacional-----------------------------------------------*/

.elementsz{
    position: absolute;
    top: 180px;
    left: 10px;
    width: 60px;
    height: 60px;
    background: rgba(255,255,255,0.1);

    transform: translateZ(130px);

    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
}

.elementsz.bgz::before{
    content: '';
    position: absolute;
    inset: 0;
    background: url(./img/card1/simplesnacional.png);
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;

}



.box:hover .elementsz.bgz::before{
    opacity: 1;
    
}
.elementsz.bgz{
    transition: 1s;
    opacity: 0;
    transition-delay: 0.25px;
}
.box:hover .elementsz.bgz{
    top:160px;
    opacity: 1
}


/*FIm simples nacional----------------------------------*/


/*-------Dinheirooo-------------------------------*/
.elementsx{
    position: absolute;
    top: 200px;
    left: 10px;
    width: 60px;
    height: 60px;
    background: rgba(255,255,255,0.1);

    transform: translateZ(200px);

    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
}

.elementsx.bgx::before{
    content: '';
    position: absolute;
    inset: 0;
    background: url(./img/card1/dinheiro.png);
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;

}



.box:hover .elementsx.bgx::before{
    opacity: 1;
    
}
.elementsx.bgx{
    transition: 1s;
    opacity: 0;
    transition-delay: 0.25px;
}
.box:hover .elementsx.bgx{
    top:230px;
    opacity: 1
}


/*------------Fim Dinheiro-----------------------*/
.elements.imgBx{
    top: 0;
    left: initial;
    right: 60px;
    width: 120px;
    height: 120px;
    padding: 10px;
    transform: translateZ(120px);
}

.elements.imgBx img{
    position: absolute;
    width: calc(100% - 20px);
    
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);
    border-radius: 8px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
    opacity: 0;
    transition: 0.5s;
}

.box:hover .elements.imgBx img{
    opacity: 1;
}

.elements.name{
    top: 235px;
    left: initial;
    right: 0;
    width: 100%;
    padding: 10px;
    text-align: right;
    transform: translateZ(180px);
    background: transparent;
    backdrop-filter: blur(0px);
    border: none;   
    box-shadow: none;
    color: #644651;
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.25px;

}

.box:hover .elements.name{
    top:90px;
    opacity: 1

}

.elements.content{
    top: initial;
    left: initial;
    bottom:0;
    right: -20px;
    width:85%;
    min-height: 200px;
    padding: 10px;
    transform: translateZ(180px);
    align-items: center;
}

.elements.content p {
    position: relative;
    color: #644651;
    font-size: 0.85em;
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.5s;
}

.box:hover .elements.content p{
    opacity:1;

} 
/*-------------efeito*/
.elements.imgBx{
    transition: 2s;
    opacity: 0;
    transition-delay: 1.25px;
}

.box:hover .elements.imgBx{
    top:-30px;
    opacity: 1
}

.elements.bg{
    transition: 2s;
    opacity: 0;
    transition-delay: 1.25px;
}
.box:hover .elements.bg{
    top:30px;
    opacity: 1
}

.elements.content p{
    transition: 2s;
    opacity: 0;
    transition-delay: 1.25px;
}

.elements.content {
    transition: 2s;
    opacity: 0;
    transition-delay: 1.25px;
}
.box:hover .elements.content p{
    top:0px;
    opacity: 1
}

.box:hover .elements.content {
    top:140px;
    opacity: 1
}

/*----------Fim efeito--------------------*/




/*Cartão 1--------------------------------------------------------------------------------------*/

.box1{
    position: relative;
    border-radius: 1.5em;
    transform-style: preserve-3d;
}

.box1 .card1{
    position: relative;
    background: rgba(255,255,255,0.1) ;
    width:18em;
    min-height: 24em;

    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);

    border-radius: 1.5em;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
    transform-style: preserve-3d;
}

.elements1{
    position: absolute;
    top: 10px;
    left: -10px;
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,0.1);

    transform: translateZ(80px);

    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
}



.elements1.bg1::before{
    content: '';
    position: absolute;
    inset: 0;
    background: url(./img/link.png);
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;

}

.box1:hover .elements1.bg1::before{
    opacity: 1;
    
}

.elements1.imgBx1{
    top: 0;
    left: initial;
    right: 60px;
    width: 120px;
    height: 120px;
    padding: 10px;
    transform: translateZ(120px);
}
/*-------------efeito*/
.elements1.imgBx1{
    transition: 2s;
    opacity: 0;
    transition-delay: 1.25px;
}

.box1:hover .elements1.imgBx1{
    top:-30px;
    opacity: 1
}

.elements1.bg1{
    transition: 2s;
    opacity: 0;
    transition-delay: 1.25px;
}
.box1:hover .elements1.bg1{
    top:30px;
    opacity: 1
}

.elements1.content1 p{
    transition: 2s;
    opacity: 0;
    transition-delay: 1.25px;
}

.elements1.content1 {
    transition: 2s;
    opacity: 0;
    transition-delay: 1.25px;
}
.box1:hover .elements1.content1 p{
    top:10px;
    opacity: 1
}

.box1:hover .elements1.content1 {
    top:140px;
    opacity: 1
}



/*fim efeito-----------*/

.elements1.imgBx1 img{
    position: absolute;
    width: calc(100% - 20px);
    
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);
    border-radius: 8px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
    opacity: 0;
    transition: 0.5s;
}

.box1:hover .elements1.imgBx1 img{
    opacity: 1;
}

.elements1.name1{
    top: 235px;
    left: initial;
    right: 0;
    width: 100%;
    padding: 10px;
    text-align: right;
    transform: translateZ(180px);
    background: transparent;
    backdrop-filter: blur(0px);
    border: none;   
    box-shadow: none;
    color: #644651;
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.25px;

}

.box1:hover .elements1.name1{
    top:95px;
    opacity: 1

}

.elements1.content1{
    top: initial;
    left: initial;
    bottom:0;
    right: -20px;
    width:85%;
    min-height: 200px;
    padding: 10px;
    transform: translateZ(180px);
    align-items: center;
}

.elements1.content1 p {
    position: relative;
    color: #644651;
    font-size: 0.85em;
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.5s;
}

.box1:hover .elements1.content1 p{
    opacity:1;

} 

/*Cartão 2------------------------------------------------------------------------*/

.box2{
    position: relative;
    border-radius: 1.5em;
    transform-style: preserve-3d;
    margin-right: 20px;
}

.box2 .card2{
    position: relative;
    background: rgba(255,255,255,0.1) ;
    width:18em;
    min-height: 24em;

    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);

    border-radius: 1.5em;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
    transform-style: preserve-3d;
}

.elements2{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,0.1);

    transform: translateZ(80px);

    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
}

.elements2.bg2::before{
    content: '';
    position: absolute;
    inset: 0;
    background: url(./img/link.png);
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;

}

.box2:hover .elements2.bg2::before{
    opacity: 1;
    
}

.elements2.imgBx2{
    top: 0;
    left: initial;
    right: 60px;
    width: 120px;
    height: 120px;
    padding: 10px;
    transform: translateZ(120px);
}

.elements2.imgBx2 img{
    position: absolute;
    width: calc(100% - 20px);
    
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);
    border-radius: 8px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
    opacity: 0;
    transition: 0.5s;
}

.box2:hover .elements2.imgBx2 img{
    opacity: 1;
}

.elements2.name2{
    top: 235px;
    left: initial;
    right: 0;
    width: 100%;
    padding: 10px;
    text-align: right;
    transform: translateZ(50px);
    background: transparent;
    backdrop-filter: blur(0px);
    border: none;   
    box-shadow: none;
    color: #644651;
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.25px;

}

.box2:hover .elements2.name2{
    top:85px;
    opacity: 1

}

.elements2.content2{
    top: initial;
    left: initial;
    bottom:0;
    right: 20px;
    width:85%;
    min-height: 200px;
    padding: 10px;
    transform: translateZ(80px);
    align-items: center;
}

.elements2.content2 p {
    position: relative;
    color: #644651;
    font-size: 0.85em;
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.5s;
}

.box2:hover .elements2.content2 p{
    opacity:1;

} 


/*-------------efeito*/
.elements2.imgBx2{
    transition: 2s;
    opacity: 0;
    transition-delay: 1.25px;
}

.box2:hover .elements2.imgBx2{
    top:-30px;
    opacity: 1
}

.elements2.bg2{
    transition: 2s;
    opacity: 0;
    transition-delay: 1.25px;
}
.box2:hover .elements2.bg2{
    top:30px;
    opacity: 1
}

.elements2.content2 p{
    transition: 2s;
    opacity: 0;
    transition-delay: 1.25px;
}

.elements2.content2 {
    transition: 2s;
    opacity: 0;
    transition-delay: 1.25px;
}
.box2:hover .elements2.content2 p{
    top:0px;
    opacity: 1
}

.box2:hover .elements2.content2 {
    top:140px;
    opacity: 1
}

/*----------Fim efeito--------------------*/