@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url(./cartaoEu.css);
@import url(./projetos.css);
@import url(./contato.css);
@import url(./pontos.css);
@import url(anima.css);


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #644651;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* --corA: #ff4f8b; 
     --corB: #fffd87;
    --corC: #00d2ff;
    --corFundo: rgb(243, 118, 243); */

    /* --corA: #f380a7e0;
    --corB: #fffd87;
    --corC: #ff8800; 
     --corFundo: rgb(12, 8, 25); */
    
    /* --corA: #22079ce0;
    --corB: #5055eb;
    --corC: #04587f; */

    /* --corA: #054043; 
    --corB: #34748e;
    --corC: #bdd1d3;
    --corFundo: #030a24ad;  */

    --blurFundo: 1px;
    /*--corLetra: rgba(255,255,255,0.6);*/
    --corLetra: rgb(19, 18, 18) ;

    --corA: rgb(8, 8, 8);
    --corB: rgb(240, 189, 6);
    --corC: rgba(242, 255, 0, 0.305);
    --corFundo: #068da1ad;

    --apagaBloco = none;


    --corN: #dff1ff;

   --brilho:rgba(255,255,255,0.5);
   --fundoVidro: rgba(255,255,255,0.1);
   --bordaTL:10px solid rgba(255,255,255,0.4);

   --blurVidro: 100px;

   --alturaDoVidro: 75px;
   --alturaIcone: -80vh;

}

body{
    display: flex;
    
    transform-style: preserve-3d;
    flex-direction: column;
    background: url(./img/bg2.png);
    /* background-size: cover; */
    background-position: center;
    /* background-repeat: no-repeat; */
}


/*Botões e fundo--------------------------------------------------------------------------------------------------*/

.canvas{
    

    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2) ;
    border-bottom: 1px solid rgba(255,255,255,0.2) ;
    border-radius: 10px;
    background: var(--fundoVidro);
    backdrop-filter: blur(2px);
    z-index: 0;
    box-shadow: 0 5px 4px rgba(1, 18, 20, 0.427);
    text-decoration: none;
    overflow: hidden;
}

/* AQUI COMECA O FOOTER E O FUNDO------------------------------------------------------------------------ */

